[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=US
ST=New York
L=Rochester
O=Arquisoft
OU=Leanda
emailAddress=admin@ec2-35-180-69-249.eu-west-3.compute.amazonaws.com
CN = ec2-35-180-69-249.eu-west-3.compute.amazonaws.com
